.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 3rem;
  border-radius: 5px;
  color: #000;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  @media screen and (max-width: 768px) {
    padding: 1rem;
    margin-top: var(--header-height-mobile);
  }
}
